/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.overflowtext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.snackBar {
  color: red !important;
  text-align: center !important;
  background-color: white;
}

.mainBlock {
  width: 90%;
  margin: 2% 5% 2% 5%;
}

.mat-icon-button{
    outline: 0 !important;
}
