.app-dropdown-div {
  display: inline-block;
}

.app-dropdown {
  background-color: #673ab7 !important;
  border-color: #673ab7 !important;
}

  .app-dropdown:focus {
    box-shadow: 0 0 0 0.2rem #b185ff !important;
  }

.app-dropdown-item{
    background-color: inherit;
}
.app-dropdown-item:active {
  background-color: inherit;
}
