<div class="mainBlock">
  <h1 style="margin-bottom: 3px">Create a vacancy</h1>
  <p style="color: grey">Fill in the form below to create a vacancy.</p>
  <hr />
  <mat-form-field appearance="fill">
    <mat-label>Enter title</mat-label>
    <input matInput
           placeholder="Front-end developer"
           [formControl]="titleForm" required>
    <mat-error *ngIf="titleForm.invalid">{{getErrorTitle()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter description</mat-label>
    <textarea matInput
              placeholder="We are looking for..."
              [formControl]="descriptionForm"
              style="height: 120px"
              required></textarea>
    <mat-error *ngIf="descriptionForm.invalid">{{getErrorDescription()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 67%; margin-right: 1%; display: inline-block">
    <mat-label>Enter location</mat-label>
    <input matInput
           placeholder="San Diego, CA"
           [formControl]="locationForm" required>
    <mat-error *ngIf="locationForm.invalid">{{getErrorLocation()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 32%">
    <mat-label>Remote</mat-label>
    <mat-select [formControl]="remoteForm">
      <mat-option [value]="true">
        Yes
      </mat-option>
      <mat-option [value]="false">
        No
      </mat-option>
    </mat-select>
    <mat-error *ngIf="remoteForm.invalid">{{ getErrorRemote() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 33%; margin-right: 1%">
    <mat-label>Enter minimal salary</mat-label>
    <input matInput
           type="number" min="1"
           style="text-align: right; display: inline-block;"
           placeholder="Amount"
           [formControl]="salaryMinForm">
    <span matSuffix>$</span>
    <mat-error *ngIf="salaryMinForm.invalid">{{getErrorSalaryMin()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 33%; margin-right: 1%">
    <mat-label>Enter maximal salary</mat-label>
    <input matInput
           type="number" min="1"
           style="text-align: right; display: inline-block"
           placeholder="Amount"
           [formControl]="salaryMaxForm">
    <span matSuffix>$</span>
    <mat-error *ngIf="salaryMaxForm.invalid">{{getErrorSalaryMax()}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 32%">
    <mat-label>Choose salary period</mat-label>
    <mat-select [formControl]="salaryTypeForm">
      <mat-option *ngFor="let type of salaryTypes" [value]="type">
        {{type.desc}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="salaryTypeForm.invalid">{{ getErrorSalaryType() }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" style="width: 49.5%; margin-right: 1%">
    <mat-label>Choose job type</mat-label>
    <mat-select [formControl]="jobTypeForm">
      <mat-option *ngFor="let type of jobTypes" [value]="type">
        {{type.desc}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="jobTypeForm.invalid">{{ getErrorJobType() }}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill" style="width: 49.5%">
    <mat-label>Choose required experience level</mat-label>
    <mat-select [formControl]="experienceLevelForm">
      <mat-option *ngFor="let level of expLevels" [value]="level">
        {{level.desc}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="experienceLevelForm.invalid">{{ getErrorExpLevel() }}</mat-error>
  </mat-form-field>

  <div style="text-align:center">
    <button (click)="submit()"
            class="submitButton"
            mat-raised-button color="primary">
      Submit
    </button>
  </div>
</div>
