<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">AngularApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li>
            <button mat-icon-button [routerLink]="['']">
              <mat-icon>home</mat-icon>
            </button>
          </li>
          <li>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [routerLink]="['/login']" *ngIf="!isLoggedIn()">
                <mat-icon>login</mat-icon>
                <span>Login</span>
              </button>
              <button mat-menu-item [routerLink]="['/register']" *ngIf="!isLoggedIn()">
                <mat-icon>how_to_reg</mat-icon>
                <span>Register</span>
              </button>
              <button mat-menu-item *ngIf="isLoggedIn()" (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
              </button>
              <button mat-menu-item [routerLink]="['/jobs/create']" *ngIf="isLoggedAsEmployer()">
                <mat-icon>create</mat-icon>
                <span>Post Job</span>
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
